<!DOCTYPE html>
<html>
 <head>
    <meta charset="utf-8">
    <title>Favorite Location Manager</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-editable.css">
 </head>

 <body>
    <script src="static/js/jquery-1.10.1.min.js"></script>
    <script src="static/js/underscore-min.js"></script>
    <script src="static/js/backbone-min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/bootstrap-editable.min.js"></script>
    <script src="static/js/bootbox.min.js"></script>
    <script src="static/js/asyncCalls.js"></script>

    <script type="text/template" id="locationViewTemplate">
		<td><%=name%></td>
		<td><%=address%></td>
		<td>button here</td>
		<td><button class='btn delete_location'>X</button></td>
    </script>
<!-- 
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCYKbZ0poE1uhdZbim9pdYYeReUAaKi3es&sensor=false">
    </script>
    <script src="static/js/mapRendering.js"></script>
     -->
    <script src="static/js/testScript.js"></script>

    <div class="container">
    	<div class="row row-padded">
            <div class="span12" id="alertbox_wrap">
            </div>
        </div>
        <div class="hero-unit">
        	<h1>Favorite Location Manager</h1>
        </div>
    	<div class="row">
    		<div class="span6" id="add_location_panel">
    			<h4>Add Location Panel</h4><br>
  		  			<form class="form-inline" id="add_location_form">
  						<input type="text" class="input-small" placeholder="Name" name="name" data-provide="typeahead"autocomplete="off">
  						<input type="text" class="input-large typeahead" placeholder="Address" name="address" data-provide="typeahead" autocomplete="off">
  						<input type="button" class="btn" id="add-location" value="Add"></input>
					</form>
    		</div>
    	</div>
    	<div class="row row-padded">
    		<div class="span6">
    			<h4>Map Viewer Panel</h4>
    			<!-- <div id="map_canvas" style="width:450px;height:380px;"></div> -->
    			<img src="static/img/placeholder.jpg"/>
    		</div>
    		<div class="span6" id="location_list_panel">
    			<h4>Location List Panel</h4>
    			<table class="table table-striped table-bordered">
    				<thead>
    					<tr>
    						<th>Name</th>
    						<th>Address</th>
    						<th>More Options</th>
    						<th>Remove</th>
    					</tr>
    				</thead>
    				<tbody id="location_list_view">
    				</tbody>
    			</table>
    		</div>
    	</div>
    </div>
    <div id="footer">
      <div class="container row row-padded">
      	<p>Vishalsai Daswani 2013</p>
      </div>
    </div>

    <script>
    	$('#add_location_form > input[name=name]').typeahead({
    		source: ['work', 'home', 'turn', 'uber', 'san francisco', 'yolo', 'office', 'play', 'park', 'restaurant', 'yummy']

    	});
    	$('#add_location_form > input[name=address]').typeahead({
    		source: ['405 Howard St sf CA']
    	});

  //   	$('.editName').editable({
		// 	type: 'text'
		// });
		// $('.editAddress').editable({
		// 	type: 'text'
		// });
    </script>


    
	

</body>
</html>




